<div class="container">
  <div class="jumbotron">
    <h1>¡Hola, bienvenido!</h1>
    <p>Este es el perfil de Diego Camacho</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
  </div>
</div>
